<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$pageTitle}</title>
</head>
<body>
<ul>
    {foreach $persons as $name =>$contact}
       {if ($name|length)==4} cuuus {/if}
         <li>{$name|length} <strong>{$contact}</strong></li>


    {/foreach}

</ul>


</body>
</html>